<div style="width: 100%; height: 56px; display: flex; justify-content: space-between;">
    <div class="second-div" style="background-color: #23395B;">
        <div class="second-div-2" style="background-color: white;">
            <span>BW</span>
        </div>
        <span style="color: white;">0.00</span>
        <span style="color: white; font-size: 8px;">kg</span>
    </div>
    <div class="second-div" style="background-color: #ffffff;">
        <div class="second-div-2" style="background-color: #23395B;">
            <span style="color: white;">HT</span>
        </div>
        <span style="color: #23395B;">0.00</span>
        <span style="color: #23395B; font-size: 8px;">kg</span>
    </div>
    <div class="second-div" style="background-color: #23395B;">
        <div class="second-div-2" style="background-color: white;">
            <span>BMI</span>
        </div>
        <span style="color: white;">0.00</span>
    </div>
    <div class="second-div" style="background-color: #ffffff;">
        <div class="second-div-2" style="background-color: #23395B;">
            <span style="color: white;">T</span>
        </div>
        <span style="color: #23395B;">0.00</span>
    </div>
    <div class="second-div" style="background-color: #23395B;">
        <div class="second-div-2" style="background-color: white;">
            <span>BP</span>
        </div>
        <span style="color: white;">0.00/0.00</span>
    </div>
    <div class="second-div" style="background-color: #ffffff;">
        <div class="second-div-2" style="background-color: #23395B;">
            <span style="color: white;">PR</span>
        </div>
        <span style="color: #23395B;">0.00</span>
        <span style="color: #23395B; font-size: 8px;">bmp</span>
    </div>
    <div class="second-div" style="background-color: #23395B;">
        <div class="second-div-2" style="background-color: white;">
            <span>RP</span>
        </div>
        <span style="color: white;">0.00</span>
        <span style="color: #ffffff; font-size: 8px;">bmp</span>
    </div>
    <div class="second-div" style="background-color: #ffffff;">
        <div class="second-div-2" style="background-color: #23395B;">
            <span style="color: white;">OFC</span>
        </div>
        <span style="color: #23395B;">0.00</span>
        <span style="color: #23395B; font-size: 8px;">cm</span>
    </div>
    <div class="second-div" style="background-color: #23395B;">
        <div class="second-div-2" style="background-color: white;">
            <span>BSA</span>
        </div>
        <span style="color: white;">0.00</span>
        <span style="color: #ffffff; font-size: 8px;">m2</span>
    </div>
    <div class="second-div" style="background-color: #ffffff;">
        <div class="second-div-2" style="background-color: #23395B;">
            <span style="color: white;">ANC</span>
        </div>
        <span style="color: #23395B;">0.00</span>
        <span style="color: #23395B; font-size: 8px;">m2</span>
    </div>
</div>