.second-div{
    border-radius: 10px;
    width: fit-content;
    height: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #23395B;
    .second-div-2{
        width: 52px;
        height: fit-content;
        border-radius: 50px;
        padding: 10px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span{
        font-weight: 700;
        font-size: 18px;
    }
}