.app{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;

    .info{
        min-height: 100px;
        background-color: #888888;
    }

    .vital_sign{
        min-height: 100px;
        background-color: #fc0000;
}
    .headbar_btn{
        min-height: 100px;
        background-color: #6b5e83;
        flex:1;
    }
}