<div style="width: 620px; height: 145px; overflow: scroll; box-shadow: 0px 4px 4px 0px #00000040;" >
    <table>
        <thead >
            <tr>
                <th>No .</th>
                <th>Clinic</th>
                <th>Doctor</th>
                <th>Right</th>
                <th>SSB</th>
                <th>UC</th>
                <th>วันยื่นเช็คชื่อ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
                <td>ddd</td>
                <td>10/10/10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>testddddddddddddddddd</td>
                <td>aaaddddddddddddddddddddd</td>
                <td>bbbddddddddddddddddddd</td>
                <td>cccddddddddddddddd</td>
                <td>dddddddddddddddddddddddddddddddddd</td>
                <td>10/10/10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
                <td>ddd</td>
                <td>10/10/10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
                <td>ddd</td>
                <td>10/10/10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
                <td>ddd</td>
                <td>10/10/10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
                <td>ddd</td>
                <td>10/10/10</td>
            </tr>

        </tbody>
    </table>
</div>