table {
    
    width: 100%;
    border-collapse: separate; /* ใช้ separate เพื่อไม่ให้เส้นขอบเซลล์ถูกรวมกัน */
    border-spacing: 0; /* ป้องกันระยะห่างระหว่างเซลล์ */
    border-radius: 8px;
    border: 1px solid #D6D6D6; /* ขอบรอบสุดของตาราง */
}

th {
    width: 100%;
    height: 24px; /* กำหนดความสูง */
    background-color: #475974; /* กำหนดสีพื้นหลัง */
    color: white; /* สีของข้อความใน <th> */
    // border-radius: 5px; /* มุมโค้งมน */
    border: 1px solid #D6D6D6; /* เส้นขอบภายใน <th> */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* เงาที่มีความโปร่งใส 25% */
    text-align: center; /* จัดข้อความให้กึ่งกลาง */
    font-weight: 600; /* ตัวหนา */
    padding: 5px 10px;
    white-space: nowrap; /* ป้องกันไม่ให้ข้อความขึ้นบรรทัดใหม่ */
}

td {
    border-left: 1px solid #D6D6D6; /* เส้นขอบแนวตั้งระหว่างเซลล์ */
    padding: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}
