* {
    display: flex;
    align-items: flex-start;
    gap: 0.625em;
    box-sizing: border-box;
    justify-content: center;

}


button {
    font-family: 'Prompt', sans-serif;
    background: none;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.5s; // การทำ transition

    &:hover {
        background-color: #0099ff;  // เปลี่ยนสีพื้นหลังเมื่อ hover
        transform: scale(1.1);       // ขยายขนาดปุ่มเล็กน้อย
        border-radius: 1.25em;
}
}