<div style="width: 100%; height: 40px; display: flex; justify-content: space-between;">
    <button class="third-div active">
        <span>Doctor Screen</span>
    </button>
    <button class="third-div">
        <span>ข้อมูลการคัดกรอง</span>
    </button>
    <button class="third-div">
        <span>ประวัติการค้นหา</span>
    </button>
    <button class="third-div">
        <span>Image</span>
    </button>
    <button class="third-div">
        <span>Scan</span>
    </button>
    <button class="third-div">
        <span>Treatment (F1)</span>
    </button>
    <button class="third-div">
        <span>Dental</span>
    </button>
    <button class="third-div">
        <span>Lab (F3)</span>
    </button>
    <button class="third-div">
        <span>X-Ray (F4)</span>
    </button>
    <button class="third-div">
        <span>Refer</span>
    </button>
    <button class="third-div">
        <span>ใบรับรองแพทย์</span>
    </button>
    <button class="third-div">
        <span>Request OR</span>
    </button>
    <button class="third-div">
        <span>Diag and ICD 10</span>
    </button>
    <button class="third-div">
        <span>Medicine (F2)</span>
    </button>

</div>